/* TODO: make desktop layout as close to design as possible */
@media screen and (min-width: 751px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .main {
        max-width: 750px;
    }

    .submit-btn {
        background-size: 40% 40%;
        width: 96px;
        height: 96px;
    }

    .submit-btn:hover {
        background-size: 40% 40%;
    }
    
    .entry {
        display: flex;
        gap: 2rem;
        width: 70%;
    }
    
    .button {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .submit-btn {
        top: -48px;
        right: 0px;
    }
    
    .main {
        
        padding-inline: 3rem;
        padding-block: 3rem;
    }
    
    .field label {
        font-size: 1.1rem;
    }
    
    .field input {
        padding-inline: 1rem;
        padding-block: 0.5rem;
        font-size: 2rem;
    }
    
    .view h1 {
        font-size: 6rem;
        line-height: 1.1;
        font-weight: 800;
    }
}