.submit-btn {
    background-size: 40% 40%;
    width: 64px;
    height: 64px;
}

.entry {
    display: flex;
    gap: 1rem;
}

.button {
    display: flex;
    justify-content: center;
}

.main {
    margin-inline: 1rem;
    margin-top: 4rem;
}