body {
    font-family: "Poppins";
    background: hsl(0, 0%, 94%);
}

.main {
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    border-bottom-right-radius: 12rem;
}

.date-view {
    color: hsl(259, 100%, 65%);
}

.button {
    position: relative;
    border-top: 1px solid hsl(0, 0%, 86%);
}

.submit-btn {
    border: none;
    background: hsl(259, 100%, 65%) url("assets/images/icon-arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
}

.submit-btn:hover {
    background: hsl(0, 0%, 8%) url("assets/images/icon-arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.field label {
    color: hsl(0, 1%, 44%);
    font-weight: 400;
    text-transform: uppercase;
}

.field input {
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 8px;
    width: 100%;
    color: hsl(0, 0%, 8%);
}

.field input:focus {
    outline: 2px solid hsl(259, 100%, 65%);
}

.view h1 {
    font-style: italic;
    font-weight: 800;
    color: hsl(0, 0%, 8%);
}

.err-message {
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    display: block;
    margin-top: 0.7rem;
    color: hsl(0, 100%, 67%);
}

.invalid-input {
    outline: 2px solid hsl(0, 100%, 67%);
}