@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-Bold.ttf"),
    url("assets/fonts/Poppins-BoldItalic.ttf"),
    url("assets/fonts/Poppins-ExtraBold.ttf"),
    url("assets/fonts/Poppins-ExtraBoldItalic.ttf"),
    url("assets/fonts/Poppins-Italic.ttf"),
    url("assets/fonts/Poppins-Regular.ttf");
}

body {
    font-family: "Poppins";
}

.submit-btn {
    border: none;
    background: hsl(259, 100%, 65%) url("assets/images/icon-arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}